
@{
    ViewBag.Title = "Add";
}

<h2>Add a new Teacher</h2>
<div class="main-content">
    <p>Input teacher's first name and last name and press an add teacher button.</p>
    <form method="POST" action="/Teacher/Create" name="createForm" id="addForm" onsubmit="return validationName()">
        <div>
            <label for="TeacherFname" id="addLabelFirst">First name:</label>
            <input class="inputArea" type="text" id="TeacherFname" name="TeacherFname" />
            <p id="cautionFirst">Please type first name</p>
        </div>
        <div>
            <label for="TeacherLname" id="addLabelLast">Last name:</label>
            <input class="inputArea" type="text" id="TeacherLname" name="TeacherLname" />
            <p id="cautionLast">Please type last name</p>
        </div>
        <div>
            <label for="HireDate">Hire date:</label>
            <input class="inputArea" type="datetime" id="HireDate" name="HireDare" placeholder="It will be the current date." />
        </div>
        <div>
            <label for="TeacherNumber">Employee Number:</label>
            <input class="inputArea" type="text" id="TeacherNumber" name="TeacherNumber" />
        </div>
        <div>
            <label for="TeacherSalary">Salary:</label>
            <input class="inputArea" type="text" id="TeacherSalary" name="TeacherSalary" />
        </div>
        <div>
            <button id="submitBtn">Add Teacher</button>
        </div>
    </form>
    <nav>
        <a href="/Teacher/List">Back to the list</a>
    </nav>
</div>
