@model Assignment3_N01442368.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Confirm</h2>

<div class="main-content">
    <p>You are going to delete a data of <span id="deleteName">@Model.TeacherFname @Model.TeacherLname. </span></p>
    <p>This cannot be undone.</p>
    <p>You can go back now.</p>
    <p><a href="/Teacher/Show/@Model.TeacherId">Going back to Teacher information page.</a></p>
    <p>Are you sure?</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button id="confirmDel">Confirm Delete</button>
    </form>
</div>